hi sir, this is mukesh patil and this is my first assignment sorry for delay because i got to know about it very late sorry for that sir.

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
#ans of this question

var1="hey my name is mukesh patil."

var2=["virat","dhoni","dhawan","yuvraj"]

var3=23.5

var4=("mukesh","abhay","vansh","rohit","deepak")

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

the first one is string 
the second is also string
third is list
fourth is float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
# / this division operator and it is used to divide numbers example of this is below
muk1=50/2
muk1

25.0

In [6]:
# % this is modulus operator it only returns the remainder.
div=5%3
div

2

In [8]:
#  // this is  floor division operator removes the float integer.
x1=15//6
x1

2

In [9]:
# ** this operator is called exponential suppose if is print(5**3) so it works as 5*5*5

x2=5*3
x2

15

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
X=["mukesh",3.24,True,[1,5,7],56,{"name":"bada","age":30},None,(4,6,8),5.7 ,False]
X

['mukesh',
 3.24,
 True,
 [1, 5, 7],
 56,
 {'name': 'bada', 'age': 30},
 None,
 (4, 6, 8),
 5.7,
 False]

In [14]:
for item in X:
    print(f"list:{X},data types:{type(item)}")

list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'str'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'float'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'bool'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'list'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'int'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'dict'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'NoneType'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'tuple'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'float'>
list:['mukesh', 3.24, True, [1, 5, 7], 56, {'name': 'bada', 'age': 30}, None, (4, 6, 8), 5.7, False],data types:<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [17]:
def count_divisions(A, B):
    count = 0

    while A % B == 0:
        A //= B  
        count += 1

    return count


A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

if B == 0:
    print("Cannot divide by zero.")
else:
    divisible = count_divisions(A, B)
    print(f"{A} is divisible by {B} and can be divided {divisible} times.")

Enter the number A:  12
Enter the number B:  3

12 is divisible by 3 and can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.


data_list = [i for i in range(1, 26)]


for num in data_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable :- in easy language mutable means we can make change in them and there values can be modified after they are created.
example

In [19]:
# list is the best example of mutable data types
list=["mukesh",20,"vansh"]
list[1]

20

In [20]:
list[1]=40
list

['mukesh', 40, 'vansh']

In [21]:
#as you can see i changed the list

immutable:- Immutable data types are those whose values cannot be changed after they are created. If you need to modify the value you need to create a new object.
example

In [22]:
# string is the best and easy example of immutable data type
name="mukesh"
print(name)

name="abhay"
print(name)

mukesh
abhay

as you can see i tried to change the string but it is not possible to change the immutable data dtypes like this.